<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Experiment"
        tools:targetApi="31">
        <activity
            android:name=".TimeTable"
            android:exported="false" />
        <activity
            android:name=".LectureTimeValidator"
            android:exported="false" />
        <activity
            android:name=".Teacher_Attendance"
            android:exported="false" />
        <activity
            android:name=".Attendance"
            android:exported="false" />
        <activity
            android:name=".Subject_List"
            android:exported="false" />
        <activity
            android:name=".Allotment_Adapter"
            android:exported="false" />
        <activity
            android:name=".Sub_Allot"
            android:exported="false"
            android:theme="@style/Theme.Search" />
        <activity
            android:name=".Student_Adapter"
            android:exported="false" />
        <activity
            android:name=".Data_Model"
            android:exported="false" />
        <activity
            android:name=".Filter_Student"
            android:exported="false" />
        <activity
            android:name=".Update_Faculty"
            android:exported="false"
            android:theme="@style/Theme.Search" />
        <activity
            android:name=".Update_Student"
            android:exported="false"
            android:theme="@style/Theme.Search" />
        <activity
            android:name=".Profile_Image_Handler"
            android:exported="false" />
        <activity
            android:name=".Student_Dash"
            android:exported="false" />
        <activity
            android:name=".Progress_Dialog"
            android:exported="false" />
        <activity
            android:name=".Faculty_Register"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Base.Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Student_Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>